<%= render 'shared/errors', obj: @user %>
<br>
<br>
<div class="center">
  <%= form_for @user do |f| %>
    <div class="form-group row offset-3">
      <div class="col-sm-2 col-form-label">
        <%= f.label :username %>
      </div>
      <div class="col-sm-4">
        <%= f.text_field :username, class: 'form-control', placeholder: 'Enter username', autofocus: 'true' %>
      </div>
    </div>
    <div class="form-group row offset-3">
      <div class="col-sm-2 col-form-label">
        <%= f.label :email %>
      </div>
      <div class="col-sm-4">
        <%= f.email_field :email, class: "form-control", placeholder: "Enter email" %>
      </div>
    </div>
    <div class="form-group row offset-3">
      <div class="col-sm-2 col-form-label">
        <%= f.label :password %>
      </div>
      <div class="col-sm-4">
        <%= f.password_field :password, class: "form-control", placeholder: "Enter password" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.submit(@user.new_record? ? "Sign up" : "Update account", class: "btn btn-primary btn-md mx-auto") %>
    </div>
    <div class="form-group">
      <%= link_to "Cancel and return", articles_path %>
    </div>
  <hr>
  <% end %>
  <br>
  <div class="center">
    <h5>DELETE ACCOUNT : (Warning! This cannot be undone.)</h5>
    <br>
    <%= link_to "DELETE USER", user_path(@user), class:"btn btn-danger btn-md", method: :delete, data: { confirm: "Sure ?"} %>
  </div>
</div>
