<%= form_for @category do |f| %>
<div class="center">
  <div class="row form-group offset-3">
    <div class="col-sm-2 col-form-label">
      <%= f.label :name %>
    </div>
    <div class="col-sm-4">
      <%= f.text_field :name, class: 'form-control', placeholder: 'Enter category name', autofocus: 'true' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.submit(@category.new_record? ? "Create category" : "Edit category", class: 'btn btn-primary btn-md mx-auto') %>
  </div>
  <div class="form-group">
    <%= link_to "Cancel and return", categories_path %>
  </div>
</div>
<% end %>
