<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <%= link_to 'Alpha Blog', root_path, class: "navbar-brand", id: "logo" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Articles", articles_path, class:"nav-link", id:"articles-nav" %>
      </li>
      <li class="nav-item">
        <%= link_to "Categories", categories_path, class: "nav-link" %>
      </li>
      <% if logged_in? %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="articleDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">New ... </a>
        <div class="dropdown-menu" aria-labelledby="articleDropdownMenuLink">
          <%= link_to "Article", new_article_path, class:"dropdown-item" %>
          <% if current_user.admin? %>
          <div class="dropdown-divider"></div>
          <%= link_to "Category", new_category_path, class:"dropdown-item" %>
          <% end %>
        </div>
      </li>
      <% if current_user.admin? %>
      <li class="nav-item">
        <%= link_to "Users", users_path, class: "nav-link" %>
      </li>
      <% end %>
      <% end %>
    </ul>

    <ul class="navbar-nav ml-auto">
      <% if logged_in? %>
      <li class="nav-item dropdown">
          <button class="btn btn-primary dropdown-toggle" href="#" id="userDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.username %>
            <% if current_user.admin? %>
              <span class="badge badge-light" style="margin-left:5px;">Admin</span>
            <% end %>
          </button>
          <div class="dropdown-menu" aria-labelledby="userDropdownMenuLink">
            <%= link_to "Settings", edit_user_path(current_user), class:"dropdown-item" %>
            <%= link_to "View profile", user_path(current_user), class:"dropdown-item" %>
          </div>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <div class="nav-link">
          <%= link_to "Logout", logout_path, method: :delete, class: "active btn btn-danger" %>
        </div>
      </li>
      <% else %>
      <li class="nav-item">
        <div class="nav-link">
          <%= link_to "Login", login_path, class: "nav-link active btn btn-primary" %>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link">
          <%= link_to "Sign up", signup_path, class: "nav-link active btn btn-success" %>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</nav>
